
QUESTION 1

In [1]:
a = 0
def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2 

b()
b()
b()
a

6

Explaination

1.Here in 1st step a is initialized to 0.
2.Then we defined function called b().
3.Then we defined global a which indicate as 'a' is global variable which means it can be access by any class and perform the operation.
4.In the first call of b(),Inside b(), the line a = c(a) is executed. This calls the function c(a) with the current    value of a (which is 0), adds 2 to it, and returns the result as 2. This value is then assigned to the global     variable a. So now a is 2.
5.Now in the second call of b(),the line a = c(a) is executed but the fuction c(a) get the current value which is 2,add   2 to it{2+2=4} so now we have a value of 'a' is 4.
6.In the 3rd call of b() with the same processor we get the value of a=6.


QUESTION 2

In [9]:
def file_length(file_name):
    try:
                                       
        infile = open(file_name)
        contents = infile.read()
        infile.close()
        return len(contents)
    except:
        print("File " + file_name + " not found.")
    

file_length("idterm.py")
file_length("words.txt")

File idterm.py not found.

5346


QUESTION 3

In [3]:
class Marsupial:               #defined class Marsupial
   
    ABC = []
    
    def put_in_pouch(self, item):
        self.ABC.append(item)
        
    def pouch_contents(self):
        print(self.ABC)
        
    
class Kangaroo(Marsupial):     #subclass
   
    def __init__(self, x, y):  #extends the Marsupial __init__ 
        self.x = x
        self.y = y
        
    def jump(self, dx, dy):    # used jump
        self.x+= dx
        self.y+= dy
        
    def __str__(self):        # overloads __str__
         return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

        
        
A=Kangaroo(0,0)
print(A)
A.put_in_pouch('doll')
A.put_in_pouch('firetruck')
A.put_in_pouch('kitten')
A.pouch_contents()
A.jump(1,0)
A.jump(1,0)
A.jump(1,0)
print(A)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)


QUESTION 4

In [12]:
def collatz(x):
    print(x)
    while x != 1:
        
        if x % 2 == 0:
            x = x // 2
        else:
            x = 3*x + 1
        print(x)
n1 = int(input("enter num:"))
collatz(n1)
n2 = int(input("enter num:"))
collatz(n2)

enter num: 10

10
5
16
8
4
2
1

enter num: 1

1


QUESTION 5

In [6]:
def binary(n):
    if n == 0:
        return  '0'
    elif n == 1:
        return  '1'
    else:
        return binary(n // 2) + str(n % 2)
n = int(input("Enter a number : "))
binary(n)

Enter a number :  10

'1010'


QUESTION 6

In [17]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):    
    def __init__(self):
        super().__init__()
        self.ABC = []

    def handle_starttag(self, x, y): 
        if x.startswith('h'):
            self.ABC.append(x)   

    def handle_data(self, D):     
        if self.ABC:   
            print(' ' * (len(self.ABC) - 1)  + D.strip()) 

    def handle_endtag(self, x):
        if x.startswith('h'):
            self.ABC.pop()
    def print_headings(self):
        for level,heading in self.ABC:
            print(''*level+heading)

File = open('w3c.html')
content = File.read()
hp= HeadingParser()
File.close()
hp.feed(content)
hp.print_headings()

 Change_me






 W3C Mission

 Principles


QUESTION 7

In [2]:
from urllib.parse import urljoin
from html.parser import HTMLParser
from urllib.request import urlopen

class Collector(HTMLParser):
    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []    
    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for at in attrs:
                if at[0] == 'href':
                        url= urljoin(self.url, at[1])
                if url[:4] == 'http': 
                         self.links.append(url)                     
    def getLinks(self):
        return self.links
def webdir(url,depth,indent):
    if(depth<0):
        return
    try:
        response = urlopen(url)
    except:
        return
 
    collector = Collector(url)  
    collector.feed(response.read().decode())
    print("    "*indent +url)
       
    for link in collector.getLinks():
        webdir(link,depth-1,indent+1)

In [3]:
webdir("https://reed.cs.depaul.edu/lperkovic/test1.html",2,0)

https://reed.cs.depaul.edu/lperkovic/test1.html
    http://reed.cs.depaul.edu/lperkovic/test2.html
        http://reed.cs.depaul.edu/lperkovic/test4.html
    https://reed.cs.depaul.edu/lperkovic/test3.html
        https://reed.cs.depaul.edu/lperkovic/test4.html


QUESTION 8

In [18]:
import sqlite3                    
X=sqlite3.connect("DKPATEL.db")               # Connect to the database (create it if it doesn't exist)
Y = X.cursor()
Y.execute("CREATE TABLE IF NOT EXISTS mytable(city text, country text, season text, temperature double, rainfall double)")
                                               # Create a table

Y.execute("INSERT INTO mytable VALUES ('Mumbai','India','Winter',24.8 ,5.9)")           # Insert some data into the table
Y.execute("INSERT INTO mytable VALUES ('Mumbai','India','Spring',28.4 ,16.2)")
Y.execute("INSERT INTO mytable VALUES ('Mumbai','India','Summer',27.9 ,1549.4)")
Y.execute("INSERT INTO mytable VALUES ('Mumbai','India','Fall', 27.6 ,346.0)")
Y.execute("INSERT INTO mytable VALUES ('London','United Kingdom','Winter',4.2 ,207.7)")
Y.execute("INSERT INTO mytable VALUES ('London','United Kingdom','Spring',8.3 ,169.6)")
Y.execute("INSERT INTO mytable VALUES ('London','United Kingdom', 'Summer',15.7 ,157.0)")
Y.execute("INSERT INTO mytable VALUES ('London','United Kingdom','Fall',10.4 ,218.5)")
Y.execute("INSERT INTO mytable VALUES ('Cairo', 'Egypt', 'Fall', 22.2 ,4.5)")
Y.execute("INSERT INTO mytable VALUES ('Cairo', 'Egypt', 'Winter', 13.6 ,16.5)")
Y.execute("INSERT INTO mytable VALUES ('Cairo', 'Egypt', 'Spring', 20.5 ,6.5)")
Y.execute("INSERT INTO mytable VALUES ('Cairo', 'Egypt', 'Summer', 27.7 ,0.1)")
X.commit()                             # Commit the changes

In [19]:
### a) All the temperature data.###

Y.execute("SELECT * from mytable")

for record in Y:
    print(record)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.5, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)

In [29]:
### b) All the cities, but without repetition.###

Y.execute("SELECT DISTINCT city FROM mytable")

for record in Y:
    print(record[0])

Mumbai
London
Cairo

In [21]:
### c) All the records for India.###

Y.execute("SELECT * FROM mytable WHERE Country = 'India'")

for record in Y:
    print(record)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [22]:
### d) All the Fall records.###

Y.execute("SELECT * FROM mytable WHERE Season = 'Fall'")

for record in Y:
    print(record)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [14]:
### e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.###

Y.execute("SELECT city, country, season FROM mytable Group by city, country, season  having AVG(rainfall) BETWEEN 200 AND 400")

for record in Y:
    print(record)

('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

In [24]:
### f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.###

Y.execute("SELECT SUM(rainfall) AS total_rainfall FROM mytable where City = 'Cairo' ")

for record in Y:
    print(record[0])

27.6

In [25]:
### g) The total annual rainfall for Cairo.###

Y.execute("SELECT SUM(Rainfall) FROM mytable GROUP BY Season")

for record in Y:
    print(record[0])

569.0
192.29999999999998
1706.5
230.1

In [26]:
### h) The total rainfall for each season.###

Y.execute("SELECT SUM(rainfall) AS total_rainfall FROM mytable GROUP BY season")

for record in Y:
    print(record[0])

569.0
192.29999999999998
1706.5
230.1


QUESTION 9

In [28]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
##    a   ##
upper_word = [word.upper() for word in words]
##    b   ##
lower_word = [word.lower() for word in words]
##    c   ##
word_length = [len(word) for word in words]
##    d   ##
word_infolist = [[word.upper(), word.lower(), len(word)] for word in words]
##    e   ##
long_words = [word for word in words if len(word) >= 4]

print(upper_word,"\n\n")
print(lower_word,"\n\n")
print(word_length,"\n\n")
print(word_infolist,"\n\n")
print(long_words,"\n\n")

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']


['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']


[3, 5, 5, 3, 5, 4, 3, 4, 3]


[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]


['quick', 'brown', 'jumps', 'over', 'lazy']